In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("TestApp").getOrCreate()
df = spark.createDataFrame([(1, "Binisha"), (2, "Maharjan")], ["ID", "Name"])
df.show()

25/09/25 17:41:14 WARN Utils: Your hostname, binisha-ASUS-TUF-Gaming-A15-FA507RC-FA507RC resolves to a loopback address: 127.0.1.1; using 192.168.1.68 instead (on interface wlp3s0)
25/09/25 17:41:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/25 17:41:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/09/25 17:41:15 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/09/25 17:41:15 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/09/25 17:41:15 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/09/25 17:41:15 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

+---+--------+
| ID|    Name|
+---+--------+
|  1| Binisha|
|  2|Maharjan|
+---+--------+

In [4]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./env/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
Using cached numpy-2.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]━━━━ 3/4 [pandas]
Successfully installed numpy-2.3.3 pandas-2.3.2 pytz-2025.2 tzdata-2025.2

In [2]:
import pyspark

In [10]:
import pandas as pd
pd.read_csv('data.csv')

   Name  Age             Email
0  Rama   23    rama@gmail.com
1  Sita   25  sita12@gmail.com

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

25/09/25 17:45:51 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [8]:
spark

In [16]:
# read the dataset
df_pyspark=spark.read.csv('data.csv')
df_pyspark.show()

+----+---+----------------+
| _c0|_c1|             _c2|
+----+---+----------------+
|Name|Age|           Email|
|Rama| 23|  rama@gmail.com|
|Sita| 25|sita12@gmail.com|
+----+---+----------------+

In [26]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [24]:
#read the dataset
df1=spark.read.option('header', 'true').csv('data.csv',inferSchema=True)

In [28]:
df1.show()

+----+---+----------------+
|Name|Age|           Email|
+----+---+----------------+
|Rama| 23|  rama@gmail.com|
|Sita| 25|sita12@gmail.com|
+----+---+----------------+

In [25]:
## Check the schema(tell about our column)
df1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Email: string (nullable = true)

In [30]:
df1.head(1)

[Row(Name='Rama', Age=23, Email='rama@gmail.com')]

In [31]:
df1.select(['Name', 'Email']).show()

+----+----------------+
|Name|           Email|
+----+----------------+
|Rama|  rama@gmail.com|
|Sita|sita12@gmail.com|
+----+----------------+

In [32]:
df1.dtypes

[('Name', 'string'), ('Age', 'int'), ('Email', 'string')]