In [70]:
from pyspark.sql import SparkSession

In [71]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [72]:
spark

In [73]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [74]:
#check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [75]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [76]:
## check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [77]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [78]:
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [79]:
df_pyspark.head(4)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000),
 Row(Name='Paul', age=24, Experience=3, Salary=20000)]

In [80]:
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

In [81]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [82]:
df_pyspark.select(['Name', 'Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [83]:
#check the data types
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [84]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [85]:
#adding columns in dataframe
df_pyspark=df_pyspark.withColumn('Age after 2 year',df_pyspark['age']+2)

In [86]:
df_pyspark.show()

+---------+---+----------+------+----------------+
|     Name|age|Experience|Salary|Age after 2 year|
+---------+---+----------+------+----------------+
|    Krish| 31|        10| 30000|              33|
|Sudhanshu| 30|         8| 25000|              32|
|    Sunny| 29|         4| 20000|              31|
|     Paul| 24|         3| 20000|              26|
|   Harsha| 21|         1| 15000|              23|
|  Shubham| 23|         2| 18000|              25|
+---------+---+----------+------+----------------+

In [87]:
#drop the columns
df_pyspark.drop('Age after 2 year').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [88]:
##Remane the columns
df_pyspark.withColumnRenamed('Name', 'New Name')

DataFrame[New Name: string, age: int, Experience: int, Salary: int, Age after 2 year: int]